<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Credentio</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstdap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboar.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
      <style>
        .table{
            table-layout:fixed;
        }
        .table td:first-child {
          width: 5%;
        }
      </style>
   </head>
   <body>
    <nav class="navbar navbar-dark fixed-top bg-x flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Panel</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <div class="read_bt"><a href="/logout">Log Out</a></div>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
          <!-- Sidear -->
          <div class="col-md-2 bg-light d-none d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="/unis">
                        <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                        Universities
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/users">
                        <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                        Users
                      </a>
                    </li>
                   
                  </ul>
            </div>
          </div>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h3>University <button class="btn btn-primary pull-right" style="align-content: right;" data-toggle="modal" data-target="#myModal">Add University</button></h3>
            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for messages in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="tdue">&times;</span>
                </button>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
             <!--Enter new student Modal-->
             <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          
                          <h4 class="modal-title text-primary" style="align-content: center;">Add New University</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>

                      </div>
                      <div class="modal-body">
                          <form action="{{url_for('insert')}}" method="POST">
                              <div class="form-group">
                                  <label for="uniname">Name</label>
                                  <input class="form-control" type="text" name="name" placeholder="Enter University Name">
                              </div>
                                  <div class="form-group">
                                      <label for="exampleFormControlTextarea1">Image</label>
                                      <input class="form-control" name="image" placeholder="Enter University Image Link" type="URL">
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">University Location</label>
                                      <input class="form-control" name="location" placeholder="Enter University Location" type="text">
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">University Website Link</label>
                                      <input class="form-control" name="link" placeholder="Enter University Website Link" type="url">
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">University Description</label>
                                      <textarea class="form-control" name="description" id="exampleFormControlTextarea1" placeholder="Enter Description of University" rows="6"></textarea>
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">US Minimum CGPA</label>
                                      <input type="number" name="usa_cgpa" onchange="setTwoNumberDecimal" min="0" max="10" step="0.01" value="0.00" />
                                  </div>
                                    <div class="form-group">
                                      <label for="uniname">Country Minimum CGPA</label>
                                      <input type="number" name="country_cgpa" onchange="setTwoNumberDecimal" min="0" max="10" step="0.01" value="0.00" />
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Insert</button>
                              </form>
                                
                            </form>
                      </div>
                  </div>
              </div>
          </div>
          <!--Enter new student Modal-->
            <hr>
                <table class="table table-hover ">
                    <thead >
                        <tr>
                            <th class='col-2'>S/N</th>
                            <th class='col-7'>Name</th>
                            <th class='col-7' >Location</th>
                            <th class='col-12'>Description</th>
                            <th class='col-3' >US Minimum CGPA</th>
                            <th  class='col-3'>Country Minimum CGPA</th>
                            <th class="col-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in universities %}
                            <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>               
                            <td>{{row[3]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[7]}}</td>
                            <td class="d-flex ">
                                <a href="/update/{{row[0]}}" class="btn btn-warning btn-sm mr-2" data-toggle="modal" data-target="#modaledit{{row[0]}}">Edit</a>
                                <a href="delete/{{row[0]}}" onclick="return confirm('Confirm Delete Record')" class="btn btn-danger btn-sm" >Del</a>
                            </td>
                        </tr>
                    <!--Edit uni Modal-->
                        <div id="modaledit{{row[0]}}" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">                         
                                <h4 class="modal-title text-primary" style="align-content: center;">Update University</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form action="{{url_for('update')}}" method="POST">
                                  <input type="hidden" name="id" value="{{row[0]}}">
                                  <div class="form-group">
                                      <label for="uniname">Name</label>
                                      <input value="{{row[1]}}" class="form-control" type="text" name="name" placeholder="Enter University Name">
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleFormControlTextarea1">Image</label>
                                      <input value="{{row[2]}}" class="form-control" name="image" placeholder="Enter University Image Link" type="URL">
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">University Location</label>
                                      <input value="{{row[3]}}" class="form-control" name="location" placeholder="Enter University Location" type="text">
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">University Website Link</label>
                                      <input value="{{row[4]}}" class="form-control" name="link" placeholder="Enter University Website Link" type="url">
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">University Description</label>
                                      <textarea class="form-control" name="description" id="exampleFormControlTextarea1" placeholder="Enter Description of University" rows="6">{{row[5]}}</textarea>
                                    </div>
                                    <div class="form-group">
                                      <label for="uniname">US Minimum CGPA</label>
                                      <input value="{{row[6]}}" type="number" name="usa_cgpa" onchange="setTwoNumberDecimal" min="0" max="10" step="0.01" value="0.00" />
                                  </div>
                                    <div class="form-group">
                                      <label for="uniname">Country Minimum CGPA</label>
                                      <input value="{{row[7]}}" type="number" name="country_cgpa" onchange="setTwoNumberDecimal" min="0" max="10" step="0.01" value="0.00" />
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Insert</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
              <!--Edit Uni Modal-->
                        
                      {%endfor%}


                   

                    </tbody>
                </table>
           
          </main>
        </div>
    </div>
      
      <!--copyright section end -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script>
        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }
      </script>

     
      
   </body>
</html>